@import "../const.scss";

.range {
  width: 100%;
  height: 10px;
  position: relative;

  input {
    width: 100%;
    left: 0px;
    top: 0px;
    margin: 0px;
    position: absolute;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 3;
    opacity: 0;

    &::-webkit-slider-thumb {
      pointer-events: all;
    }
  }

  .slider {
    width: 100%;
    height: 10px;
    position: relative;

    .track {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      background-color: white;
      border-radius: 10px;
    }
    .diff {
      height: 10px;
      position: absolute;
      left: 0px;
      right: 0px;
      background-color: $color-navy;
      border-radius: 10px;
    }
  }
}
