@import "../const.scss";

.databasePage {
  width: 860px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid $color-grey;
  box-sizing: border-box;

  .nav {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    .left {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .refreshBtn {
        width: 30px;
      }

      .time {
        margin-left: 10px;
        font-size: 12px;
        font-weight: 600;
      }
    }
  }

  .field {
    width: 100%;
    min-height: 50px;
    background-color: white;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 1fr;
    border-bottom: 2px solid $color-grey;

    p {
      font-size: 12px;
      font-weight: 600;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      box-sizing: border-box;
      padding-left: 20px;
    }
  }

  .main {
    width: 100%;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px 0px;

    &::-webkit-scrollbar {
      width: 5px;
      height: 10px;
      background-color: $color-grey;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: $color-navy;
    }

    .list {
      height: 30px;
      display: grid;
      grid-template-columns: 100px 100px 100px 100px 100px 100px 1fr;
      padding-left: 20px;
      font-size: 14px;
    }
  }
}
