@import "../const.scss";

.graphPage {
  width: 860px;

  .nav {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid $color-grey;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .left {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .refreshBtn {
        width: 30px;
      }

      .time {
        margin-left: 10px;
        font-size: 12px;
        font-weight: 600;
      }
    }

    .right {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      button {
        width: 60px;
        margin-left: 10px;
      }
    }
  }

  .graphArea {
    width: 860px;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid $color-grey;
    border-radius: 10px;
    margin-bottom: 20px;

    .titleArea {
      font-size: 14px;
      font-weight: 600;
      color: $color-black;
    }
  }
}
