@import "../const.scss";

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba($color: black, $alpha: 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .modalWindow {
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 500px;
    border-radius: 10px;
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .childrenArea {
      width: 100%;
      overflow: auto;
      margin-bottom: 20px;

      &::-webkit-scrollbar {
        width: 5px;
        height: 0px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $color-navy;
      }
    }
    .submitArea {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      button {
        width: 70px;
        margin-left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}
