@import "const.scss";

body {
  &::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    background-color: $color-grey;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: $color-navy;
  }
}

.App {
  min-width: 900px;

  // nav {
  //   width: 100vw;
  //   position: fixed;
  //   display: flex;
  //   justify-content: center;
  //   bottom: 0px;
  //   left: 0px;
  // }

  main {
    box-sizing: border-box;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
