@import "const.scss";

.App {
  width: 100vw;

  header {
    width: 100%;
    height: 100px;
    background-color: $color-sky;
  }
  main {
    width: 100%;
  }
  footer {
    width: 100%;
    height: 250px;
    background-color: $color-black;
  }
}
