@import "const.scss";

.App {
  width: 90%;
  max-width: 1150px;
  height: 80%;
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-grey;
  border-radius: 10px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0px;
    height: 10px;
    background-color: $color-grey;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: $color-black;
  }

  nav {
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0px;
  }

  main {
    flex: 1;
    height: 100%;
  }
}
