@import "./reset.scss";
@import "./const.scss";

body {
  background-color: white;
}

.__btn {
  height: 30px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-navy;
  color: white;
  transition: all 0.3s ease-in-out;

  .icon {
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    background-color: $color-sky;
    .icon {
      transform: rotate(40deg);
    }
  }
}
